[run]
branch = True

omit =
    tests/*

source = fuzz.py

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == ['"]+__main__['"]+:
    if ['"]+__main__['"]+ == __name__:
